@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
    --gray-1: oklch(98.5% 0 0);
    --gray-2: oklch(97% 0 0);
    --gray-3: oklch(92.2% 0 0);
    --gray-4: oklch(87% 0 0);
    --gray-6: oklch(55.6% 0 0);
    --gray-7: oklch(43.9% 0 0);
    --gray-8: oklch(37.1% 0 0);
    --gray-10: oklch(26.9% 0 0);
    --gray-12: oklch(14.5% 0 0);
}

@theme {
    --font-sans: Montserrat, system-ui, sans-serif;

    --text-h1: 2.986rem;
    --text-h2: 2.488rem;
    --text-h3: 2.074rem;
    --text-h4: 1.728rem;
    --text-h5: 1.44rem;
    --text-h6: 1.2rem;

    --color-telegram: #24a1de;
    --color-discord: #7289da;
    --color-bluesky: #006aff;
    --color-twitch: #9147ff;
    --color-kofi: #ff5a16;

    --line-height: calc(2px + 2ex + 2px);

    /* https://coolors.co/palette/ffadad-ffd6a5-fdffb6-caffbf-9bf6ff-a0c4ff-bdb2ff-ffc6ff-fffffc */
    /* --color-red: #ffadad;
    --color-orange: #ffd6a5;
    --color-yellow: #fdffb6;
    --color-green: #caffbf;
    --color-blue: #9bf6ff;
    --color-indigo: #a0c4ff;
    --color-purple: #bdb2ff;
    --color-pink: #ffc6ff;
    --color-white: #fffffc;
    --color-black: #22223b;

    --color-red: oklch(0.8266 0.0967 19.33);
    --color-orange: oklch(0.8995 0.0782 71.55);
    --color-green: oklch(0.9476 0.1004 140.24);
    --color-blue: oklch(0.9192 0.0878 203.78);
    --color-indigo: oklch(0.8156 0.0925 260.13);
    --color-purple: oklch(0.8007 0.1082 290.28);
    --color-pink: oklch(0.8946 0.0979 326.36);
    --color-white: oklch(0.9992 0.0039 106.47);
    --color-black: oklch(0.2649 0.0463 282.78); */

    --color-white: var(--color-gray-50);
    --color-black: var(--color-blue-900);
    --color-black-muted: var(--color-gray-300);

    --color-background: var(--color-blue-200);
    --color-surface: var(--color-white);
    --color-primary: var(--color-blue-400);
    --color-border: var(--color-black-muted);
    --color-highlight: oklch(from var(--color-primary) l c h / 0.3);
    --color-success: var(--color-green-500);
    --color-error: var(--color-red-400);
    --color-black-subtle: oklch(from var(--color-black) l c h / .4);

    --radius-default: var(--radius-xl);

    --z-index-popover: 50;

    --shadow-popover: var(--shadow-sm);

    --button-padding-inline: calc(var(--spacing) * 4);
    --button-padding-block: calc(var(--spacing) * 2);
    --button-padding: var(--button-padding-block) var(--button-padding-inline);
}

@utility button-padding {
    padding: --value(--button-padding);
}

html,
body,
#app {
    background: var(--color-background);
    height: 100dvh;
    color: var(--color-black);
}

th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: var(--line-height);
    font-weight: var(--font-weight-bold);
}

p {
    line-height: var(--line-height);
}

h1 {
    font-size: var(--text-h1);
}

h2 {
    font-size: var(--text-h2);
}

h3 {
    font-size: var(--text-h3);
}

h4 {
    font-size: var(--text-h4);
}

h5 {
    font-size: var(--text-h5);
}

h6 {
    font-size: var(--text-h6);
}

small {
    font-size: 0.833rem;
}

@keyframes fly-down-fade-in {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fly-down-fade-out {
    from {
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translateY(-5px);
    }
}
