# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie
DRIVE_DISK=fs
R2_KEY=
R2_SECRET=
R2_BUCKET=
R2_ENDPOINT=
MAIL_MAILER=smtp
MAIL_FROM_NAME=Your name
MAIL_FROM_ADDRESS=app@yourdomain.com
SMTP_HOST=localhost
SMTP_PORT=1025
RESEND_API_KEY=your-resend-api-key
LIMITER_STORE=redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=